
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/bootstrap/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/bootstrap/bootstrap.css" rel="stylesheet" />
    <title>Biblioteca</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-md-4">
                <form method="post">
                    <input style="display:block;margin:0 auto" name="valor" type="submit" value="Modulo Socio" />
                </form>
            </div>
            <div class="col-md-4">
                <form method="post">
                    <input style="display:block;margin:0 auto" name="valor" type="submit" value="Modulo Bibliotecario" />
                </form>
            </div>
            <div class="col-md-4">
                <form method="post">
                    <input style="display:block;margin:0 auto" name="valor" type="submit" value="Modulo Usuario" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>
