@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Socio</title>
</head>
<body>
    <div class="container"> 
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <form method="post">
                <input style="display:block;margin:0 auto" name="valor" type="submit" value="1" />
            </form>
        </div>
    </div>
</body>
</html>
